	<div class="panel panel-default">
	  <div class="panel-body">
	    <div class="row">
	      <div class="col-md-3">
	        <%= image_tag @movie.image.url(:medium) %>
	        
	      </div>
	      <div class="col-md-7 col-md-offset-1">
	      <!--   <h1 class="review_title"><%= @movie.title %></h1>
	      <p><%= @movie.description %></p> -->
            <h1><%= @movie.title %></h1>
            <h4><%= @movie.description %></h4>
	         
	          <table class="table">
                    <tr class="active">
                        <td><strong>Movie length:</strong></td>
	                      <td><%= @movie.movie_length %></td>
                    </tr>
                    <tr class="success">
                        <td><strong>Director:</strong></td>
	                    <td><%= @movie.director %></td></tr>
                    <tr class="warning">
                        <td><strong>Rating:</strong></td>
	                     <td><%= @movie.rating %></td>
                    </tr>
              </table>    
	          <%= link_to "Write a comment", new_movie_comment_path(@movie) %>
	        
            
            
	        <% if @comments.blank? %>
	          <h3>No comments</h3>
	        <% else %>
	          <div class="reviews">
	              <% @comments.each do |comment| %>
	                <!-- <div class="review">
	                      <h4><%= comment.user.name %></h4>
	                      <p><%= comment.comment %></p>
	                </div> -->
	                <div class="review row align-item">
                          <div class="col-md-3">
                              <h4><%= comment.user.name %></h4>
                          </div>
                          <div class="col-md-9 text-justify">
                              <h5><%= comment.comment %></h5>
                          </div>
                    </div>
	              <% end %>
	          </div>
	        <% end %>
	      </div>
	    </div>
	  </div>
	</div>

    <div class = "btn btn-primary links-edit"><%= link_to 'Edit', edit_movie_path(@movie) %> </div>|
	<div class = "btn btn-primary links-back"><%= link_to 'Back', movies_path %></div>